<a href="https://colab.research.google.com/github/mks2607/Data_Scientist/blob/mks2607/SVO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Изучение - потери оборудования

In [5]:
import pandas as pd
import matplotlib
import seaborn as sns

импортируем таблицу.
df - основную таблицу можно называть всегда так , что бы было понятно , что бы заниматся - ИДС(исследовательский анализ данных)

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv("/content/russia_losses_equipment.csv")
df

,date,day,aircraft,helicopter,tank,APC,field artillery,MRL,military auto,fuel tank,drone,naval ship,anti-aircraft warfare,special equipment,mobile SRBM system,greatest losses direction,vehicles and fuel tanks,cruise missiles,submarines
0,2024-08-25,914,367,328,8547,16631,17396,1171,NaN,NaN,14095,28,936,2928.0,NaN,NaN,23475.0,2444.0,1.0
1,2024-08-24,913,367,328,8542,16620,17349,1169,NaN,NaN,14064,28,935,2911.0,NaN,NaN,23383.0,2444.0,1.0
2,2024-08-23,912,367,328,8533,16599,17307,1167,NaN,NaN,14025,28,932,2910.0,NaN,NaN,23329.0,2442.0,1.0
3,2024-08-22,911,367,328,8529,16567,17262,1166,NaN,NaN,13998,28,931,2904.0,NaN,NaN,23280.0,2442.0,1.0
4,2024-08-21,910,367,328,8522,16542,17216,1166,NaN,NaN,13902,28,928,2887.0,NaN,NaN,23221.0,2442.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,2022-03-01,6,29,29,198,846,77,24,305.0,60.0,3,2,7,NaN,NaN,NaN,NaN,NaN,NaN
909,2022-02-28,5,29,29,150,816,74,21,291.0,60.0,3,2,5,NaN,NaN,NaN,NaN,NaN,NaN
910,2022-02-27,4,27,26,150,706,50,4,130.0,60.0,2,2,0,NaN,NaN,NaN,NaN,NaN,NaN
911,2022-02-26,3,27,26,146,706,49,4,130.0,60.0,2,2,0,NaN,NaN,NaN,NaN,NaN,NaN
912,2022-02-25,2,10,7,80,516,49,4,100.0,60.0,0,2,0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913 entries, 0 to 912
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date                       913 non-null    object
 1   day                        913 non-null    int64
 2   aircraft                   913 non-null    int64
 3   helicopter                 913 non-null    int64
 4   tank                       913 non-null    int64
 5   APC                        913 non-null    int64
 6   field artillery            913 non-null    int64
 7   MRL                        913 non-null    int64
 8   military auto              65 non-null     float64
 9   fuel tank                  65 non-null     float64
 10  drone                      913 non-null    int64
 11  naval ship                 913 non-null    int64
 12  anti-aircraft warfare      913 non-null    int64
 13  special equipment          894 non-null    float64
 14  mobile SRBM system         36 non-null     float64
 15  greatest losses direction  203 non-null    object
 16  vehicles and fuel tanks    848 non-null    float64
 17  cruise missiles            848 non-null    float64
 18  submarines                 347 non-null    float64
dtypes: float64(7), int64(10), object(2)
memory usage: 135.6+ KB

In [ ]:
print(df['helicopter'])

0      328
1      328
2      328
3      328
4      328
      ...
908     29
909     29
910     26
911     26
912      7
Name: helicopter, Length: 913, dtype: int64

In [6]:
df.head()

,date,day,aircraft,helicopter,tank,APC,field artillery,MRL,military auto,fuel tank,drone,naval ship,anti-aircraft warfare,special equipment,mobile SRBM system,greatest losses direction,vehicles and fuel tanks,cruise missiles,submarines
0,2024-08-25,914,367,328,8547,16631,17396,1171,NaN,NaN,14095,28,936,2928.0,NaN,NaN,23475.0,2444.0,1.0
1,2024-08-24,913,367,328,8542,16620,17349,1169,NaN,NaN,14064,28,935,2911.0,NaN,NaN,23383.0,2444.0,1.0
2,2024-08-23,912,367,328,8533,16599,17307,1167,NaN,NaN,14025,28,932,2910.0,NaN,NaN,23329.0,2442.0,1.0
3,2024-08-22,911,367,328,8529,16567,17262,1166,NaN,NaN,13998,28,931,2904.0,NaN,NaN,23280.0,2442.0,1.0
4,2024-08-21,910,367,328,8522,16542,17216,1166,NaN,NaN,13902,28,928,2887.0,NaN,NaN,23221.0,2442.0,1.0

In [34]:
df.groupby(['greatest losses direction','date']).mean()

                                                     day  aircraft  \
greatest losses direction              date
Avdiivka                               2022-05-09   75.0     199.0
                                       2022-05-10   76.0     199.0
                                       2022-05-26   92.0     206.0
                                       2022-05-27   93.0     206.0
                                       2022-07-11  138.0     217.0
...                                                  ...       ...
Sloviansk, Kryvyi Rih and Zaporizhzhia 2022-05-18   84.0     202.0
                                       2022-05-19   85.0     203.0
Zaporizhzhia                           2022-05-30   96.0     207.0
                                       2022-06-04  101.0     210.0
Zaporizhzhia and Izyum                 2022-04-28   64.0     187.0

                                                   helicopter    tank     APC  \
greatest losses direction              date
Avdiivka                               2022-05-09       158.0  1145.0  2764.0
                                       2022-05-10       158.0  1170.0  2808.0
                                       2022-05-26       170.0  1315.0  3235.0
                                       2022-05-27       170.0  1322.0  3246.0
                                       2022-07-11       188.0  1645.0  3828.0
...                                                       ...     ...     ...
Sloviansk, Kryvyi Rih and Zaporizhzhia 2022-05-18       167.0  1251.0  3043.0
                                       2022-05-19       167.0  1254.0  3063.0
Zaporizhzhia                           2022-05-30       174.0  1349.0  3282.0
                                       2022-06-04       175.0  1376.0  3379.0
Zaporizhzhia and Izyum                 2022-04-28       155.0   970.0  2389.0

                                                   field artillery    MRL  \
greatest losses direction              date
Avdiivka                               2022-05-09            513.0  185.0
                                       2022-05-10            519.0  185.0
                                       2022-05-26            617.0  201.0
                                       2022-05-27            623.0  201.0
                                       2022-07-11            838.0  247.0
...                                                            ...    ...
Sloviansk, Kryvyi Rih and Zaporizhzhia 2022-05-18            586.0  199.0
                                       2022-05-19            595.0  199.0
Zaporizhzhia                           2022-05-30            643.0  205.0
                                       2022-06-04            680.0  207.0
Zaporizhzhia and Izyum                 2022-04-28            431.0  151.0

                                                   military auto  fuel tank  \
greatest losses direction              date
Avdiivka                               2022-05-09            NaN        NaN
                                       2022-05-10            NaN        NaN
                                       2022-05-26            NaN        NaN
                                       2022-05-27            NaN        NaN
                                       2022-07-11            NaN        NaN
...                                                          ...        ...
Sloviansk, Kryvyi Rih and Zaporizhzhia 2022-05-18            NaN        NaN
                                       2022-05-19            NaN        NaN
Zaporizhzhia                           2022-05-30            NaN        NaN
                                       2022-06-04            NaN        NaN
Zaporizhzhia and Izyum                 2022-04-28         1688.0       76.0

                                                   drone  naval ship  \
greatest losses direction              date
Avdiivka                               2022-05-09  377.0        12.0
                                       2022-05-10  380.0        12.0
                                       2022-05-26  502.0        13.0
                                       2022-05-27  503.0        13.0
                                       2022-07-11  676.0        15.0
...                                                  ...         ...
Sloviansk, Kryvyi Rih and Zaporizhzhia 2022-05-18  441.0        13.0
                                       2022-05-19  455.0        13.0
Zaporizhzhia                           2022-05-30  507.0        13.0
                                       2022-06-04  540.0        13.0
Zaporizhzhia and Izyum                 2022-04-28  215.0         8.0

                                                   anti-aircraft warfare  \
greatest losses direction              date
Avdiivka                               2022-05-09                   87.0
                                       2022-05-10                   87.0
                                       2022-05-26                   93.0
                                       2022-05-27                   93.0
                                       2022-07-11                  109.0
...                                                                  ...
Sloviansk, Kryvyi Rih and Zaporizhzhia 2022-05-18                   91.0
                                       2022-05-19                   93.0
Zaporizhzhia                           2022-05-30                   93.0
                                       2022-06-04                   95.0
Zaporizhzhia and Izyum                 2022-04-28                   72.0

                                                   special equipment  \
greatest losses direction              date
Avdiivka                               2022-05-09               41.0
                                       2022-05-10               41.0
                                       2022-05-26               47.0
                                       2022-05-27               48.0
                                       2022-07-11               66.0
...                                                              ...
Sloviansk, Kryvyi Rih and Zaporizhzhia 2022-05-18               43.0
                                       2022-05-19               43.0
Zaporizhzhia                           2022-05-30               48.0
                                       2022-06-04               52.0
Zaporizhzhia and Izyum                 2022-04-28               31.0

                                                   mobile SRBM system  \
greatest losses direction              date
Avdiivka                               2022-05-09                 NaN
                                       2022-05-10                 NaN
                                       2022-05-26                 NaN
                                       2022-05-27                 NaN
                                       2022-07-11                 NaN
...                                                               ...
Sloviansk, Kryvyi Rih and Zaporizhzhia 2022-05-18                 NaN
                                       2022-05-19                 NaN
Zaporizhzhia                           2022-05-30                 NaN
                                       2022-06-04                 NaN
Zaporizhzhia and Izyum                 2022-04-28                 4.0

                                                   vehicles and fuel tanks  \
greatest losses direction              date
Avdiivka                               2022-05-09                   1970.0
                                       2022-05-10                   1980.0
                                       2022-05-26                   2225.0
                                       2022-05-27                   2226.0
                                       2022-07-11                   2696.0
...                                                                    ...
Sloviansk, Kryvyi Rih and Zaporizhzhia 2022-05-18                   2137.0
                                       2022-05-19                   2157.0
Zaporizhzhia                           2022-05-30                   2258.0
                                       2022-06-04                   2337.0
Zaporizhzhia and Izyum                 2022-04-28                      NaN

                                                   cruise missiles  submarines
greatest losses direction              date
Avdiivka                               2022-05-09             94.0         NaN
                                       2022-05-10             94.0         NaN
                                       2022-05-26            114.0         NaN
                                       2022-05-27            115.0         NaN
                                       2022-07-11            155.0         NaN
...                                                            ...         ...
Sloviansk, Kryvyi Rih and Zaporizhzhia 2022-05-18            102.0         NaN
                                       2022-05-19            103.0         NaN
Zaporizhzhia                           2022-05-30            118.0         NaN
                                       2022-06-04            122.0         NaN
Zaporizhzhia and Izyum                 2022-04-28              NaN         NaN

[203 rows x 17 columns]

In [38]:
print(df['aircraft'].max()) #максимальное и минимальное количество самолетов
print(df['aircraft'].min())

367
10

In [39]:
print(df['helicopter'].max()) #максимальное и минимальное количество вертолетов
print(df['helicopter'].min())

328
7

In [41]:
print(df['field artillery'].max()) #максимальное и минимальное количество артилерии
print(df['field artillery'].min())

17396
49

In [42]:
print(df['APC'].max()) #максимальное и минимальное количество БТР
print(df['APC'].min())

16631
516

In [44]:
print(df['drone'].max()) #максимальное и минимальное количество дронов
print(df['drone'].min())
print(df['drone'].mean())

14095
0
4295.673603504929

In [45]:
df.count()

date                         913
day                          913
aircraft                     913
helicopter                   913
tank                         913
APC                          913
field artillery              913
MRL                          913
military auto                 65
fuel tank                     65
drone                        913
naval ship                   913
anti-aircraft warfare        913
special equipment            894
mobile SRBM system            36
greatest losses direction    203
vehicles and fuel tanks      848
cruise missiles              848
submarines                   347
dtype: int64

In [50]:
df['drone'].value_counts()

drone
7       7
3       6
1537    4
2339    4
1872    3
       ..
5554    1
5495    1
5488    1
5468    1
0       1
Name: count, Length: 834, dtype: int64