<a href="https://colab.research.google.com/github/mks2607/Data_Scientist/blob/mks2607/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

импортируем пандас

In [1]:
import pandas as pd
import matplotlib

импортируем таблицу.
df - основную таблицу можно называть всегда так , что бы было понятно , что бы заниматся - ИДС(исследовательский анализ данных)

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
df = pd.read_csv("/content/russia_losses_equipment.csv")
df

,date,day,aircraft,helicopter,tank,APC,field artillery,MRL,military auto,fuel tank,drone,naval ship,anti-aircraft warfare,special equipment,mobile SRBM system,greatest losses direction,vehicles and fuel tanks,cruise missiles,submarines
0,2024-08-25,914,367,328,8547,16631,17396,1171,NaN,NaN,14095,28,936,2928.0,NaN,NaN,23475.0,2444.0,1.0
1,2024-08-24,913,367,328,8542,16620,17349,1169,NaN,NaN,14064,28,935,2911.0,NaN,NaN,23383.0,2444.0,1.0
2,2024-08-23,912,367,328,8533,16599,17307,1167,NaN,NaN,14025,28,932,2910.0,NaN,NaN,23329.0,2442.0,1.0
3,2024-08-22,911,367,328,8529,16567,17262,1166,NaN,NaN,13998,28,931,2904.0,NaN,NaN,23280.0,2442.0,1.0
4,2024-08-21,910,367,328,8522,16542,17216,1166,NaN,NaN,13902,28,928,2887.0,NaN,NaN,23221.0,2442.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,2022-03-01,6,29,29,198,846,77,24,305.0,60.0,3,2,7,NaN,NaN,NaN,NaN,NaN,NaN
909,2022-02-28,5,29,29,150,816,74,21,291.0,60.0,3,2,5,NaN,NaN,NaN,NaN,NaN,NaN
910,2022-02-27,4,27,26,150,706,50,4,130.0,60.0,2,2,0,NaN,NaN,NaN,NaN,NaN,NaN
911,2022-02-26,3,27,26,146,706,49,4,130.0,60.0,2,2,0,NaN,NaN,NaN,NaN,NaN,NaN
912,2022-02-25,2,10,7,80,516,49,4,100.0,60.0,0,2,0,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913 entries, 0 to 912
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date                       913 non-null    object
 1   day                        913 non-null    int64
 2   aircraft                   913 non-null    int64
 3   helicopter                 913 non-null    int64
 4   tank                       913 non-null    int64
 5   APC                        913 non-null    int64
 6   field artillery            913 non-null    int64
 7   MRL                        913 non-null    int64
 8   military auto              65 non-null     float64
 9   fuel tank                  65 non-null     float64
 10  drone                      913 non-null    int64
 11  naval ship                 913 non-null    int64
 12  anti-aircraft warfare      913 non-null    int64
 13  special equipment          894 non-null    float64
 14  mobile SRBM system         36 non-null     float64
 15  greatest losses direction  203 non-null    object
 16  vehicles and fuel tanks    848 non-null    float64
 17  cruise missiles            848 non-null    float64
 18  submarines                 347 non-null    float64
dtypes: float64(7), int64(10), object(2)
memory usage: 135.6+ KB